body{
    background-color: tan;
}
h1{
    color: darkblue;

}
#review{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border-color: blue
}
#review thead{
    font-size: 1.2em;
    font-weight: bolder;
    background-color: darkcyan;
    color: white;
}
#review tbody tr:nth-child(odd){
    background-color: lightskyblue;
}
#review tbody tr:nth-child(even){
    background-color: white
}

p{
    color: darkblue
}
#web_allowed{
    text-align: center;
}