img{
    border: 1px;
    border-style: dotted;
    border-color: black;
    width: 300px;
    height: 150px;
}
iframe{
    width:300px;
    height: 150px;
    border-style: dotted;
    border-color: black;
    border: 1px;
}
.image1{
    filter:blur(50%)
}